USE [master]
GO
/****** Object:  Database [SalesAndShippingDW]    Script Date: 5/14/2019 12:54:06 PM ******/
CREATE DATABASE [SalesAndShippingDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesAndShippingDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SalesAndShippingDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesAndShippingDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SalesAndShippingDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesAndShippingDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesAndShippingDW]
GO
USE [SalesAndShippingDW]
GO
/****** Object:  Table [dbo].[DimBranch]    Script Date: 5/14/2019 12:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBranch](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](255) NOT NULL,
	[BranchType] [int] NOT NULL,
 CONSTRAINT [PK_DimBranch] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimBranchType]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBranchType](
	[TypeId] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimBranchType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimBrand]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBrand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimBrand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimItem]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimItem](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[SupplierType] [int] NOT NULL,
	[Brand] [int] NOT NULL,
	[ItemType] [int] NOT NULL,
 CONSTRAINT [PK_DimItem] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimItemType]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimItemType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimItemType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](255) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[ProvinceOrState] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimLocation] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShipper]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipper](
	[ShipperId] [int] IDENTITY(1,1) NOT NULL,
	[ShipperName] [nvarchar](255) NOT NULL,
	[LoacionId] [int] NULL,
	[ShipperType] [int] NOT NULL,
 CONSTRAINT [PK_DimShipper] PRIMARY KEY CLUSTERED 
(
	[ShipperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShipperType]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipperType](
	[Id] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimShipperType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSupplierType]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSupplierType](
	[TypeId] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimSupplierType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[TimeId] [int] IDENTITY(1,1) NOT NULL,
	[MiladiDate] [datetime] NOT NULL,
	[PersianDate] [nvarchar](10) NOT NULL,
	[Day] [int] NOT NULL,
	[DayOfTheWeek] [int] NOT NULL,
	[DayOfTheWeekName] [nvarchar](50) NOT NULL,
	[DayOfTheWeekPersianName] [nvarchar](50) NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
	[Quarter] [int] NOT NULL,
	[QuarterName] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_DimTime] PRIMARY KEY CLUSTERED 
(
	[TimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TimeId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[UnitsSold] [int] NOT NULL,
	[DollarsSold] [money] NOT NULL,
	[AvgSales] [money] NOT NULL,
 CONSTRAINT [PK_FactSales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactShipping]    Script Date: 5/14/2019 12:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactShipping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ShipperId] [int] NOT NULL,
	[FromLocationId] [int] NOT NULL,
	[ToLocationId] [int] NOT NULL,
	[DollarsCost] [money] NOT NULL,
	[UnitsShipped] [int] NOT NULL,
 CONSTRAINT [PK_FactShipping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimBranch] ON 

INSERT [dbo].[DimBranch] ([BranchId], [BranchName], [BranchType]) VALUES (1, N'شعبه غرب تهران', 1)
INSERT [dbo].[DimBranch] ([BranchId], [BranchName], [BranchType]) VALUES (2, N'شعبه شرق تهران', 1)
INSERT [dbo].[DimBranch] ([BranchId], [BranchName], [BranchType]) VALUES (3, N'سرپرستی تهران', 2)
SET IDENTITY_INSERT [dbo].[DimBranch] OFF
INSERT [dbo].[DimBranchType] ([TypeId], [TypeName]) VALUES (1, N'شعبه')
INSERT [dbo].[DimBranchType] ([TypeId], [TypeName]) VALUES (2, N'سرپرستی')
SET IDENTITY_INSERT [dbo].[DimBrand] ON 

INSERT [dbo].[DimBrand] ([Id], [BrandName]) VALUES (1, N'SAMSUNG')
INSERT [dbo].[DimBrand] ([Id], [BrandName]) VALUES (2, N'LG')
INSERT [dbo].[DimBrand] ([Id], [BrandName]) VALUES (3, N'Yyg')
SET IDENTITY_INSERT [dbo].[DimBrand] OFF
SET IDENTITY_INSERT [dbo].[DimItem] ON 

INSERT [dbo].[DimItem] ([ItemId], [ItemName], [SupplierType], [Brand], [ItemType]) VALUES (1, N'Galaxy Note 8', 1, 1, 1)
INSERT [dbo].[DimItem] ([ItemId], [ItemName], [SupplierType], [Brand], [ItemType]) VALUES (4, N'Galaxy Note 2', 1, 1, 1)
INSERT [dbo].[DimItem] ([ItemId], [ItemName], [SupplierType], [Brand], [ItemType]) VALUES (5, N'Galaxy S9', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[DimItem] OFF
SET IDENTITY_INSERT [dbo].[DimItemType] ON 

INSERT [dbo].[DimItemType] ([Id], [TypeName]) VALUES (1, N'گوشی')
INSERT [dbo].[DimItemType] ([Id], [TypeName]) VALUES (2, N'لوازم جانبی موبایل')
INSERT [dbo].[DimItemType] ([Id], [TypeName]) VALUES (3, N'دوربین عکاسی')
SET IDENTITY_INSERT [dbo].[DimItemType] OFF
SET IDENTITY_INSERT [dbo].[DimLocation] ON 

INSERT [dbo].[DimLocation] ([LocationId], [Street], [City], [ProvinceOrState], [Country]) VALUES (1, N'ولیعصر', N'تهران', N'تهران', N'ایران')
INSERT [dbo].[DimLocation] ([LocationId], [Street], [City], [ProvinceOrState], [Country]) VALUES (3, N'جنت آباد', N'تهران', N'تهران', N'ایران')
INSERT [dbo].[DimLocation] ([LocationId], [Street], [City], [ProvinceOrState], [Country]) VALUES (4, N'صادقیه', N'تهران', N'تهران', N'ایران')
SET IDENTITY_INSERT [dbo].[DimLocation] OFF
SET IDENTITY_INSERT [dbo].[DimShipper] ON 

INSERT [dbo].[DimShipper] ([ShipperId], [ShipperName], [LoacionId], [ShipperType]) VALUES (1, N'علی محمدی', 3, 1)
INSERT [dbo].[DimShipper] ([ShipperId], [ShipperName], [LoacionId], [ShipperType]) VALUES (2, N'شرکت پخش مهرگان', 4, 2)
INSERT [dbo].[DimShipper] ([ShipperId], [ShipperName], [LoacionId], [ShipperType]) VALUES (3, N'John Doe', 6, 1)
SET IDENTITY_INSERT [dbo].[DimShipper] OFF
INSERT [dbo].[DimShipperType] ([Id], [TypeName]) VALUES (1, N'شخصی')
INSERT [dbo].[DimShipperType] ([Id], [TypeName]) VALUES (2, N'شرکت')
INSERT [dbo].[DimSupplierType] ([TypeId], [TypeName]) VALUES (1, N'شرکت بزرگ')
INSERT [dbo].[DimSupplierType] ([TypeId], [TypeName]) VALUES (2, N'شرکت کوچک')
INSERT [dbo].[DimSupplierType] ([TypeId], [TypeName]) VALUES (3, N'متفرقه')
SET IDENTITY_INSERT [dbo].[DimTime] ON 

INSERT [dbo].[DimTime] ([TimeId], [MiladiDate], [PersianDate], [Day], [DayOfTheWeek], [DayOfTheWeekName], [DayOfTheWeekPersianName], [Month], [MonthName], [Quarter], [QuarterName], [Year]) VALUES (1, CAST(N'2018-02-01T09:49:49.000' AS DateTime), N'1396/11/12', 12, 4, N'Thursday', N'پنجشنبه', 11, N'بهمن', 4, N'زمستان', 1396)
INSERT [dbo].[DimTime] ([TimeId], [MiladiDate], [PersianDate], [Day], [DayOfTheWeek], [DayOfTheWeekName], [DayOfTheWeekPersianName], [Month], [MonthName], [Quarter], [QuarterName], [Year]) VALUES (2, CAST(N'2018-02-02T09:49:49.000' AS DateTime), N'1396/11/13', 13, 5, N'Friday', N'جمعه', 11, N'بهمن', 4, N'زمستان', 1396)
INSERT [dbo].[DimTime] ([TimeId], [MiladiDate], [PersianDate], [Day], [DayOfTheWeek], [DayOfTheWeekName], [DayOfTheWeekPersianName], [Month], [MonthName], [Quarter], [QuarterName], [Year]) VALUES (3, CAST(N'2018-02-03T09:49:49.000' AS DateTime), N'1396/11/14', 14, 6, N'Saturday', N'شنبه', 11, N'بهمن', 4, N'زمستان', 1396)
GO
SET IDENTITY_INSERT [dbo].[DimTime] OFF
SET IDENTITY_INSERT [dbo].[FactSales] ON 

INSERT [dbo].[FactSales] ([Id], [TimeId], [ItemId], [BranchId], [LocationId], [UnitsSold], [DollarsSold], [AvgSales]) VALUES (1, 340, 10, 10, 8, 974, 4960.6285, 184.3776)
INSERT [dbo].[FactSales] ([Id], [TimeId], [ItemId], [BranchId], [LocationId], [UnitsSold], [DollarsSold], [AvgSales]) VALUES (2, 383, 11, 11, 9, 892, 1845.6274, 4778.9980)
INSERT [dbo].[FactSales] ([Id], [TimeId], [ItemId], [BranchId], [LocationId], [UnitsSold], [DollarsSold], [AvgSales]) VALUES (3, 360, 11, 10, 8, 900, 5990.1323, 2979.6111)
GO
SET IDENTITY_INSERT [dbo].[FactSales] OFF
SET IDENTITY_INSERT [dbo].[FactShipping] ON 

INSERT [dbo].[FactShipping] ([Id], [TimeId], [ItemId], [ShipperId], [FromLocationId], [ToLocationId], [DollarsCost], [UnitsShipped]) VALUES (1, 340, 10, 3, 8, 8, 4595.3418, 982)
INSERT [dbo].[FactShipping] ([Id], [TimeId], [ItemId], [ShipperId], [FromLocationId], [ToLocationId], [DollarsCost], [UnitsShipped]) VALUES (2, 383, 11, 4, 9, 9, 6451.4560, 939)
INSERT [dbo].[FactShipping] ([Id], [TimeId], [ItemId], [ShipperId], [FromLocationId], [ToLocationId], [DollarsCost], [UnitsShipped]) VALUES (3, 360, 11, 4, 8, 8, 3626.7537, 62)
GO
SET IDENTITY_INSERT [dbo].[FactShipping] OFF
ALTER TABLE [dbo].[DimBranch]  WITH CHECK ADD  CONSTRAINT [FK_DimBranch_DimBranchType] FOREIGN KEY([BranchType])
REFERENCES [dbo].[DimBranchType] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DimBranch] CHECK CONSTRAINT [FK_DimBranch_DimBranchType]
GO
ALTER TABLE [dbo].[DimItem]  WITH CHECK ADD  CONSTRAINT [FK_DimItem_DimBrand] FOREIGN KEY([Brand])
REFERENCES [dbo].[DimBrand] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DimItem] CHECK CONSTRAINT [FK_DimItem_DimBrand]
GO
ALTER TABLE [dbo].[DimItem]  WITH CHECK ADD  CONSTRAINT [FK_DimItem_DimItemType] FOREIGN KEY([ItemType])
REFERENCES [dbo].[DimItemType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DimItem] CHECK CONSTRAINT [FK_DimItem_DimItemType]
GO
ALTER TABLE [dbo].[DimItem]  WITH CHECK ADD  CONSTRAINT [FK_DimItem_DimSupplierType] FOREIGN KEY([SupplierType])
REFERENCES [dbo].[DimSupplierType] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DimItem] CHECK CONSTRAINT [FK_DimItem_DimSupplierType]
GO
ALTER TABLE [dbo].[DimShipper]  WITH CHECK ADD  CONSTRAINT [FK_DimShipper_DimLocation] FOREIGN KEY([LoacionId])
REFERENCES [dbo].[DimLocation] ([LocationId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DimShipper] CHECK CONSTRAINT [FK_DimShipper_DimLocation]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimBranch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[DimBranch] ([BranchId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimBranch]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[DimItem] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimItem]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimLocation] FOREIGN KEY([LocationId])
REFERENCES [dbo].[DimLocation] ([LocationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimLocation]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_DimTime] FOREIGN KEY([TimeId])
REFERENCES [dbo].[DimTime] ([TimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_FactSales_DimTime]
GO
ALTER TABLE [dbo].[FactShipping]  WITH CHECK ADD  CONSTRAINT [FK_FactShipping_DimItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[DimItem] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactShipping] CHECK CONSTRAINT [FK_FactShipping_DimItem]
GO
ALTER TABLE [dbo].[FactShipping]  WITH NOCHECK ADD  CONSTRAINT [FK_FactShipping_DimLocation] FOREIGN KEY([ToLocationId])
REFERENCES [dbo].[DimLocation] ([LocationId])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[FactShipping] NOCHECK CONSTRAINT [FK_FactShipping_DimLocation]
GO
ALTER TABLE [dbo].[FactShipping]  WITH NOCHECK ADD  CONSTRAINT [FK_FactShipping_DimLocation1] FOREIGN KEY([FromLocationId])
REFERENCES [dbo].[DimLocation] ([LocationId])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[FactShipping] NOCHECK CONSTRAINT [FK_FactShipping_DimLocation1]
GO
ALTER TABLE [dbo].[FactShipping]  WITH CHECK ADD  CONSTRAINT [FK_FactShipping_DimShipper] FOREIGN KEY([ShipperId])
REFERENCES [dbo].[DimShipper] ([ShipperId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactShipping] CHECK CONSTRAINT [FK_FactShipping_DimShipper]
GO
ALTER TABLE [dbo].[FactShipping]  WITH CHECK ADD  CONSTRAINT [FK_FactShipping_FactShipping] FOREIGN KEY([TimeId])
REFERENCES [dbo].[DimTime] ([TimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FactShipping] CHECK CONSTRAINT [FK_FactShipping_FactShipping]
GO
USE [master]
GO
